.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0rem;
  padding: 0rem 10vw;
}

.titleMessage a {
  color: #027d8a;
  text-decoration: none;
}

.titleMessage a:hover,
.titleMessage a:focus,
.titleMessage a:active {
  text-decoration: underline;
}

.titleMessage {
  line-height: 1;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}

.imageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
  }

  .titleMessage {
    width: 50%;
    flex-direction: column;
    padding: 0 0rem;
    line-clamp: 3;
  }
}
