.menu {
  display: none;
  gap: 4rem;
}

.account {
  display: none;
}

.navbar {
  color: #fff;
  background-color: #220b68;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  height: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transition: width 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.navbar.active {
  flex-direction: column;
  justify-content: center;
  align-items: right;
  top: none;
  width: 100vw;
  height: 80vh;
}

.logo {
  max-width: 20%;
  display: flex;
  align-items: center;
  transition: 0.3s;
  justify-content: left;
  z-index: 3;
}

.hamburger {
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.hamburger:active {
  transform: scale(0.85);
}

@media (max-width: 768px) {
  .logo {
    position: fixed;
    top: -0.5rem;
    left: 1rem;
    z-index: 3;
  }
  .active .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.5rem;
    transition: 0.3s;
    gap: 5rem;
  }

  .active .account {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
  }
}

@media (min-width: 769px) {
  .navbar {
    padding: 0 2rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .navbar.active {
    padding: 0 0;
    background-color: #220b68;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0rem;
    height: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: width 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
  } /* This handles if the user resizes the window to be bigger to don't remove the active class but to make it look like without it */

  .menu {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .account {
    display: block;
    position: fixed;
    top: 0.5rem;
    right: 3rem;
    z-index: 3;
  }

  .active .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transition: 0.3s;
    gap: 2rem;
    transition: 0.3s;
  }
  .logo {
    position: fixed;
    top: -0.5rem;
    left: 1rem;
    z-index: 3;
  }

  .hamburger {
    display: none;
  }
}

.imageLogo {
  width: 360px;
  height: 5rem;
}
